name: CI/CD pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository}}

jobs:
  quality-check:
    name: Quality check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock" #neu uv lock co thay doi moi can cai lai cache moi

      - name: Setup Python 3.11
        run: uv python install 3.11
      
      - name: Install dependency
        run: uv sync --frozen

      - name: Run Test
        run: uv run pytest
  
  build-and-push:
    name: Build & push docker image
    needs: quality-check
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v3
      
      - name: login to REGISTRY
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{env.REGISTRY}}
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
        
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY  }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw, value=latest, enable={{is_default_branch}}
            type=ref, envent=branch
            type=sha, prefix=sha-

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true 


      - name: Test Docker image (Smoke Test)
        if: github.event_name != 'pull_request'
        run: |
          TAG=$(echo "${{ steps.meta.outputs.tags }}" | head -n 1)
          
          echo "Testing image: $TAG"
          docker run --rm -d -p 8001:8001 --name test-container $TAG
          
          echo "Waiting for container to start..."
          sleep 10
          
          curl -f http://localhost:8001/health || (docker logs test-container && exit 1)
          
          docker stop test-container

